.layout {
  min-height: 100vh;
  width: 100%;

  &__header {
  }

  &__body {
    padding: 21px 24px;

    &--breadcrumb {
      span {
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 14px;
        text-transform: capitalize;
        cursor: pointer;

        &:last-child {
          font-weight: 500;
          cursor: default;
        }

        &:nth-child(even) {
          margin: 0 2px;
          cursor: default;
        }
      }
    }
  }
}
